<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APICreation</title>
    <style>
        h1 {
            color: rgb(180, 46, 46);
        }
    </style>
</head>
<body>
    <h1>Hello Hetic, WASSUP MY FRIENDS, SKRRR</h1>
    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExemsyNHkweG5sZG4yb3BpZTkyM2pidm91cDVocHJya3ExdWR2aXhxcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ckinJAjhS3YUAI0aLb/giphy.gif" alt="Description of gif">
    
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Rechercher une personne..." />
        <button type="submit">Rechercher</button>
    </form>
</body>
</html>